<h2 style="text-align:center;color:grey;padding:5px"><blockquote>Javascript is sexy and so is bacon :v</blockquote></h2>

<center><%= link_to 'Ala Carte!!', controller: 'freshmenu', action: 'index' %></center>
<p><center>></center></p>